@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Work+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

.body{
    background-image: url("https://webgradients.com/public/webgradients_png/005%20Young%20Passion.png");
}


h1 {
    font-family: 'Montserrat';
    font-weight: 600;
    text-align: center;
    margin-top:3%;

}

h3 {
    font-family: 'Montserrat';
    font-weight: 300;
    text-align: center;
}
.container {
    margin: 8% auto;
    width: max-content;
}
.white-keys kbd {
    z-index: 1;
    font-family: 'Montserrat';
    font-weight: 600;
    text-align: center;
    color: #d2727e;
    display: inline-block;
    background-color: white;
    border: outset 5px rgba(169, 167, 167, 0.9);
    width: 25px;
    padding-top: 250px;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: -3px;
}

.black-keys kbd {
    z-index: 2;
    font-family: 'Montserrat';
    font-weight: 600;
    text-align: center;
    color: #d2727e;
    display: inline-block;
    background-color: black;
    border: outset 5px rgba(169, 167, 167, 0.9);
    width: 25px;
    padding: 55px 10px 70px;
    position: relative;
    bottom: 298px;
}

.left {
    margin-left: 3px;
    left: 22.5px;
}

.right {
    margin-right: 3px;
    right: -65.5px;
}

